# Dependencies & Environment
node_modules/
.env*.local
.env

# Testing & Coverage
coverage/

# OS & Editor Files
.DS_Store
Thumbs.db
*.pem
*.log
.vscode/
.idea/

# Temp & Cache
.next/
dist/
build/
out/

